/*Summary: You can use grid-area to create an area for the item to be placed
without first creating a grid-area-template.  Place the grid-area in your custom
class and then use line numbers to mark the area where the item should
start and stop.*/

<style>
  .item1{background:LightSkyBlue;}
  .item2{background:LightSalmon;}
  .item3{background:PaleTurquoise;}
  .item4{background:LightPink;}

  .item5 {
    background: PaleGreen;
    /* add your code below this line */
    grid-area: 3/1/4/4; /*Start on on 3rd horizontal line/Start on 1st vertical line/
                          End on 4th horizontal line/End on 4th vertical line*/

    /* add your code above this line */
  }
  
  .container {
    font-size: 40px;
    min-height: 300px;
    width: 100%;
    background: LightGray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
</style>

<div class="container">
  <div class="item1">1</div>
  <div class="item2">2</div>
  <div class="item3">3</div>
  <div class="item4">4</div>
  <div class="item5">5</div>
</div>
