/*Summary: Every HTML page has a body element and can be styled with CSS.
All other elements will inherit the body element's styles. */

<style>
  body {
    background-color: black;
    color: green;
    font-family: monospace;
  }

</style>

<h1>Hello World</h1>
