/*Summary: When an element has multiple styles that conflict with one another,
the class style will override the body style*/

<style>
  body {
    background-color: black;
    font-family: monospace;
    color: green;
  }

  .pink-text {
    color: pink;
  }
</style>
<h1 class="pink-text">Hello World!</h1>
