/*Summary: to support browser compatibility we should provide a widely accepted
value before the variable or more-specific declaration. */

<style>
  :root {
    --red-color: red;
  }
  .red-box {
    background: red;
    background: var(--red-color);
    height: 200px;
    width:200px;
  }
</style>
<div class="red-box"></div>
